@import "src/global/variables";

.footer-menu {
  display: none;

  &_search {
    display: none;
  }
}

.close-footer-menu-search {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  background: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.footer-menu-search-closed {
  transform: translateY(100%);
  transition: ease-in-out 0.4s;
}

.search-close-zoomed {
  transition: 0.3s;
  transform: scale(1.5);
}

.footer-menu_item_active {
  color: $orange-primary;
}

@media (max-width: 760px) {
  .footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: fit-content;
    box-shadow: 0 0 10px 2px rgba(23, 23, 23, 0.25);
    transform: translateY(0);
    transition: ease-in-out 0.4s;

    &_searched-items {
      display: flex;
      flex-direction: column;
      padding: 0 8px 0 4px;
      color: $black-primary;
      background-color: #ffffff;
      border-radius: 8px;
      top: 80px;
      height: fit-content;
      max-height: calc(100% - 80px);
      margin-bottom: 30px;
      min-height: 200px;
      animation: fadeIn 0.5s;
      width: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &_item {
        object-fit: contain !important;
        position: relative;
        cursor: pointer;
        display: flex;
        align-self: center;
        padding: 12px 0;
        margin: 0 !important;
        height: auto;
        width: 100%;
        gap: 20px;
        border-top: 1.5px solid $text-color-primary;
        flex-direction: row;

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px !important;
          object-fit: contain !important;
        }

        &:hover {
          .header_searched-items_item_about {
            opacity: 0.8;
          }
        }

        &_about {
          background-color: $text-color-primary;
          color: $white;
          transition: 0.3s;
          font-size: 12px;
          font-weight: 600;
          position: absolute;
          bottom: 11px;
          right: 12px;
          border-radius: 100px;
          padding: 2px 20px 2px 20px;
        }

        &_text {
          font-size: 14px;
          font-weight: 500;
          margin-left: 12px;
        }

        &_content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 20px;
          width: 100%;
        }

        &_footer {
          padding: 0 12px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &_price {
          font-size: 14px;
          font-weight: 600;
          color: $orange-primary;
        }

        img {
          display: flex;
          justify-content: center;
          width: 90px !important;
          height: 90px;
          padding: 4px;
          box-shadow: rgba(134, 134, 139, 0.25);
          border: 1px solid rgba(134, 134, 139, 0.25);
          border-radius: 12px;
        }

        &:first-child {
          border: none;
        }
      }
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 12px;

      &_image {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &:nth-child(3n) img {
        height: 34px;
        width: 34px;
      }
    }

    &_search {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border: 1px solid $text-color-primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: #FFFFFF;
      top: 32px;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      padding: 20px;

      image {
        transition: 0.3s;
      }

      &_shadow {
        width: 100%;
        height: 0;
        box-shadow: 0 0 1px 1px rgba(134, 134, 139, 0.25);
      }

      &_input {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
        padding-bottom: 4px;
      }

      input {
        width: 100%;
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid $text-color-primary;
        padding: 6px 12px;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer-menu {
    padding: 12px 20px;

    &_item_hide {
      visibility: hidden !important;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      height: 62px;
      width: 64px;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &:nth-child(3n) img {
        height: 36px;
        width: 36px;
      }
    }
  }
}

@media (max-width: 430px) {
  .footer-menu {
    padding: 0 16px;

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      height: 62px;
      font-size: 12px;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }

      &_image {
        height: 34px;
      }

      &:nth-child(3n) img {
        height: 40px;
        width: 34px;
      }
    }
  }
}
