@import "src/global/variables";

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}

.swiper-button-prev {
  height: 100%;
  top: 0;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  left: 10px;
  width: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.swiper-button-prev:after {
  height: 100%;
  width: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding-right: 70px;
  color: transparent;
}

.swiper-button-next {
  height: 100%;

  top: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  right: 10px;
  width: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.swiper-button-next:after {
  height: 100%;
  width: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: transparent;
  padding-left: 70px;
}


.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &_slide {
    font-size: 9px;
    width: calc(100% - 20px);
    height: 100%;
    min-height: 600px;
    margin: 0 auto;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;


    &:hover {
      transition: .3s;
      cursor: pointer;
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1360px) {
  .swiper {
    width: 100%;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .swiper {
    padding-bottom: 0;
  }

  .slider_slide {
    width: 100%;
    min-height: 320px;
  }
}

@media (max-width: 550px) {
  .slider_slide {
    width: 100%;
    min-height: 320px;
  }
}

@media (max-width: 425px) {
  .slider_slide {
    width: 100%;
    min-height: 240px;
  }
}
