.categories {
  margin-top: 80px;
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

@media (max-width: 1440px) {
  .categories {
    width: 100%;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media (max-width: 760px) {
  .categories {
    width: 100%;
    padding: 0 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
}
