@import "../../../global/variables";

@keyframes animationEasy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationEasy2 {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: initial;
    opacity: 1;
  }
}

.popular-items {
  margin-top: 80px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .popular-items-slider {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-height: 120px;

    .swiper {
      width: fit-content;
      height: 120px;
    }

    .swiper-slide {
      height: 40px;
      width: fit-content;
    }
  }

  .active_menu_item {
    color: $orange-primary;
    font-size: 40px;
    font-weight: 600;
  }

  &_title {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
    margin-bottom: -20px;
    color: $orange-primary;
    padding-bottom: 20px;
  }

  &_menu {
    align-self: flex-start;
    color: $text-secondary;
    display: flex;
    flex-direction: column;
    transition: font-size 0.3s ease-in-out;
    justify-content: space-between;
    animation: animationEasy2 0.5s;

    &_item {
      color: $black-primary;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 4px 0;
      transition: font-size 0.3s ease-in-out;
      animation: animationEasy2 0.5s;
    }
  }

  &_content {
    max-height: 490px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    animation: animationEasy 0.3s ease-in-out;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .popular-items {
    padding: 0 20px;
    margin: 40px 0;
    width: 100%;

    &_content {
      width: 100%;
      margin: 20px 20px;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 760px) {
  .popular-items {
    .active_menu_item {
      color: $orange-primary;
      font-size: 18px;
      font-weight: 600;
    }

    &_title {
      font-size: 14px;
      font-weight: 700;
      align-self: flex-start;
      margin-bottom: -20px;
      color: $orange-primary;
    }

    &_content {
      justify-content: center;
      align-items: center;
    }

    &_title {
      margin: 12px 0;
    }

    &_menu {
      flex-direction: column;

      &_item {
        font-size: 14px;
      }
    }
  }
}
