.main-slider {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  margin-top: 100px;
}

.swiper-scrollbar {
  position: absolute !important;
  bottom: 0 !important;
  height: 16px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: 40% !important;
}

@media (max-width: 1440px) {
  .main-slider {
    position: relative;
    width: calc(100% - 20px);
    margin-top: 120px;
    padding: 0;
  }
}

@media (max-width: 900px) {
  .swiper-scrollbar {
    position: absolute !important;
    bottom: -20px !important;
    height: 16px !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: 80% !important;
  }
}

@media (max-width: 760px) {
  .main-slider {
    margin-top: 32px;
  };
}


@media (max-width: 550px) {
  .main-slider {
    margin-top: 0;
  };
}

@media (max-width: 450px) {
  .swiper-horizontal>.swiper-scrollbar {
    top: 280px !important;
    height: 8px !important;
  }
  .swiper {
    padding-bottom: 0 !important;
  }
  .main-slider {
    margin-top: 0;
    padding-bottom: 0;
  }
  .swiper-scrollbar {
    bottom: 60px !important;
  }
}

@media (max-width: 380px) {
  .swiper-scrollbar {
    bottom: 80px !important;
  }
}
