.main-slider {
  position: relative;
  width: 1200px;
  margin-top: 120px;
  padding-bottom: 40px;
}

.swiper-scrollbar {
  position: absolute !important;
  bottom: 0 !important;
  height: 16px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: 40% !important;
}

.swiper-scrollbar-drag {
  background: linear-gradient(271.38deg, #0B3FC5 -8.46%, #0681E4 75.71%) !important;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .main-slider {
    position: relative;
    width: calc(100% - 20px);
    margin-top: 120px;
    padding-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .swiper-scrollbar {
    position: absolute !important;
    bottom: -20px !important;
    height: 16px !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: 80% !important;
  }
}

@media (max-width: 450px) {
  .swiper-horizontal>.swiper-scrollbar {
    top: 280px !important;
    height: 8px !important;
  }
  .swiper {
    padding-bottom: 20px !important;
  }
  .main-slider {
    margin-top: 0;
    padding-bottom: 0;
  }
  .swiper-scrollbar {
    bottom: 60px !important;
  }
}

@media (max-width: 380px) {
  .swiper-scrollbar {
    bottom: 80px !important;
  }
}
