@import "src/global/variables";

.main {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  .popular-items {
    padding: 0 100px;
  }

  h1 {
    width: 60%;
    padding: 0 20px;
    font-size: 44px;
  }

  &_title {
    font-size: 30px;
    text-align: center;

    span {
      text-align: center;
      color: $orange-primary;
    };
  }

  &_services {
    margin-top: 80px;
    width: 100%;
    padding: 0 100px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1440px) {
  .main {
    &_services {
      width: 100%;
      padding: 0 20px;
    }

    .popular-items {
      padding: 0 20px;
    }

    h1 {
      width: 914px;
      font-size: 36px;
    }

    &_title {
      padding: 0 20px;
      font-size: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .main h1 {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .main {
    &_title {
      font-size: 14px;
    }
  }

  .main h1 {
    font-weight: 500;
    font-size: 16px;
    width: 420px;

    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .main {
    h1 {
      padding: 0;
      width: 320px;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.06px;
    }

    &_title {
      font-size: 12px;
    }

    &_services {
      margin-top: 10px;
    }
  }
}
