@import '../../../global/variables';

.header_wrapper_navigation_item.active {
  font-weight: 400;
  color: $orange-primary;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: none !important;
  opacity: 1 !important;
  z-index: 10;
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  color: $black-primary;
  background-color: $white;
  margin: 0 auto;

  .search-input {
    padding: 4px 12px;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    width: 900px;
    transition: 0.3s all;
    border: 1px solid $text-color-primary;
  }

  .search-input-hidden {
    width: 0;
    opacity: 0;
    border-color: transparent;
  }

  &_phone {
    display: none;
  }

  &_phone--text {
    display: flex;
    flex-direction: column;
    width: fit-content;

    a {
      font-size: 13px;
      color: $black-primary;
    }
  }

  &_searched-items_item_img {
    width: 12%;
    object-fit: contain;
  }

  &_cart-in {
    right: 40px;
    text-align: center;
    font-size: 10px !important;
    bottom: 28%;
    position: absolute;
    width: 12px;
    height: 12px;
    background: $orange-primary;
    border-radius: 50%;
  }

  &_logged-in {
    right: -2px;
    bottom: 28%;
    position: absolute;
    width: 10px;
    height: 10px;
    background: $orange-primary;
    border-radius: 50%;
  }

  &_mobile_menu {
    display: none;
  }

  &_searched-items {
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 200px) !important;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: $black-primary;
    background-color: #ffffff;
    border-radius: 8px;
    top: 80px;
    position: absolute;
    box-shadow: 0 4px 23px 0 #00000040;
    height: fit-content;
    max-height: 70vh;
    overflow-y: scroll;
    animation: fadeIn 0.5s;
    border: 1.5px solid $text-color-primary;
    min-height: 300px;
    align-items: center;

    &_item {
      object-fit: contain !important;
      position: relative;
      cursor: pointer;
      display: flex;
      align-self: center;
      padding: 12px 0;
      margin: 0 !important;
      height: auto;
      width: 100%;
      gap: 20px;
      border-top: 1.5px solid $text-color-primary;
      flex-direction: row;

      img {
        width: 100% !important;
        object-fit: contain !important;
      }

      &:hover {
        .header_searched-items_item_about {
          opacity: 0.8;
        }
      }

      &_about {
        background-color: $text-color-primary;
        color: $white;
        transition: 0.3s;
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        bottom: 16px;
        right: 12px;
        border-radius: 100px;
        padding: 2px 20px 2px 20px;
      }

      &_text {
        font-size: 16px;
        font-weight: 500;
        margin-left: 12px;
      }

      &_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
      }

      &_footer {
        padding: 0 12px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &_price {
        font-size: 20px;
        font-weight: 600;
        color: $orange-primary;
      }

      img {
        display: flex;
        justify-content: center;
        width: 90px !important;
        height: 90px;
        padding: 4px;
        box-shadow: rgba(134, 134, 139, 0.25);
        border: 1px solid rgba(134, 134, 139, 0.25);
        border-radius: 12px;
      }

      &:first-child {
        border: none;
      }
    }
  }

  img.header_wrapper_control-panel_search_icon {
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 16px;
    width: 16px;
  }

  &_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;

    .menu {
      transition: 0.3s all;
      opacity: 1;
    }

    .menu-hidden {
      opacity: 0;
      user-select: none;
    }

    &_logo {
      height: 76px;
      cursor: pointer;
      width: 310px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;

      &_spin {
        height: 48px;
        object-fit: contain;
      }

      &_logo {
        object-fit: contain;
        height: 20px;
        margin-left: 4px;
      }
    }

    &_navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      &_item {
        color: $black-primary;
        padding: 0 18px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    &_control-panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      &_search {
        margin-right: 20px;
      }

      img {
        width: 21px;
        height: 21px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }

      div {
        cursor: pointer;
        margin: 0 8px;
      }

      div:not(:first-child) {
        font-size: 24px;
      }
    }
  }

  .tablet-show {
    display: none;
  }
}

@media (max-width: 1440px) {
  .header {
    width: 100%;
    padding: 0 20px;

    .tablet-show {
      display: initial;
    }

    .tablet-hide {
      display: none;
    }

    &_wrapper {
      width: 100%;
      padding: 0;
      margin: 0 20px;

      &_logo {
        width: fit-content;
      }

      &_navigation {
        visibility: hidden;
        width: 0;
      }

      &_control-panel {
        width: fit-content;
      }
    }

    &_searched-items {
      margin: 0 4px;
      width: calc(100% - 24px) !important;
    }
  }

  .search-input {
    width: 280px !important;
  }
}

@media (max-width: 760px) {
  .header {
    display: none;
  }
}
