.about {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  * {
    animation: fadeIn 0.5s;
  }

  &_map {
    margin: 120px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 420px;
    overflow: hidden;

    div:first-child {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.about_additional_text {
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 1440px) {
  .about_additional_text {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .about_map {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about_map {
    height: 320px;
  }
}
