@import "../../../global/variables";

.active_menu_item {
  color: $orange-primary;
}

.item_card.unavailable {
  opacity: 0.5;

  .item_card_image {
    filter: grayscale(100%);
  }
}

.item_card {
  transition: 0.5s;
  width: 300px;
  display: flex;
  height: fit-content;
  flex-direction: column;
  background-color: $white;
  color: $text-color-primary;
  padding: 20px;
  margin: 4px;
  border: 1.5px solid $text-color-primary;

  &_compare {
    height: 24px;
    margin-bottom: 2px;
  }

  &_like {
    position: absolute;
    right: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 4px $orange-primary-hover;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 260px;
      margin-bottom: 12px;
    }
  }

  &_favoriteWrapper {
    width: 56px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    height: 36px;

    img {
      margin-bottom: 2px;
    }
  }

  &_favorite {
    transition: 0.5s;
    font-size: 22px;
    color: #D3D3D3;
    margin: 0 !important;

    &:active {
      transition: .1s;
      color: #FF4545;
    }
  }

  &_compare {
    transition: 0.5s;
    font-size: 19px;
    color: #D3D3D3;
    margin: 0 !important;

    &:active {
      transition: .1s;
      color: $orange-primary;
    }
  }

  &_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_availability {
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 8px;

    &_content {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin: 1px 4px 0 0;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: $white;
    border-radius: 20px;
    padding: 0;

    &_buttons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;
      height: 60px;

      button {
        background: $black-primary;
        color: $white;
        border-radius: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        cursor: pointer;

        &:hover {
          opacity: 0.8;
          transition: 0.3s;
        }
      }

      &_favorite {
        width: 60px;
        font-size: 22px;
      }

      &_add_to_card {
        width: calc(100% - 70px);

        &_price {
          color: $orange-primary;
          font-size: 18px;
          font-weight: 600;
        }

        &_btn {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    &_status {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &_title {
      max-height: 56px;
      min-height: 56px;
      margin: 12px 0;
      font-weight: 600;
      color: $text-color-primary;
      font-size: 14px;
      overflow: hidden;
      display: -moz-box;
      display: -webkit-box;
    }
  }
}

@media (max-width: 525px) {
  .item_card {
    height: fit-content;
  }

  .item_card_content {
    height: fit-content;
    flex-direction: column-reverse;

    .add-to-cart img {
      width: 12px;
      height: 12px;
    }

  }

  .item_card_content_status {
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
    }

    & > div:last-child {
      text-align: center;
      font-size: 14px;
      height: fit-content;
      margin-top: 12px;
      margin-bottom: 4px;
    }
  }
}
