@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "src/global/variables";

.Toastify__progress-bar--info {
  background: $orange-primary !important;
}

.Toastify__toast-icon svg {
  fill: $orange-primary !important;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-DemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-Black.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url("fonts/TTFirsNeue-Thin.ttf");
  font-weight: 100;
}



.INITIAL_LOADER {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;

  img {
    width: 30%;
    object-fit: contain;
  }
}

.PAGE_LOADER {
  img {
    width: 10%;
  }
}

* {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #eaeaea;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    height: 7px;
    border-radius: 5px;
    background-color: #bdbdbd;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background-color: #a4a4a4;
    }
  }

  ::-webkit-scrollbar-track {
    width: 2px !important;
    height: 2px !important;
  }
}

body {
  margin: 0;
  font-family: 'TTFirsNeue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
}

a {
  color: #000000;
  text-decoration: none;
}

.fadeIn {
  animation: 0.3s fadeIn forwards;
  width: 100%;
  height: 100vh;
}

.fadeOut {
  animation: 0.3s fadeOut forwards;
  width: 100%;
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-12px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    transform: translate(-12px, 0);
    opacity: 0;
  }
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh !important;
}

.admin-page {
  animation: none !important;
}

@media (max-width: 1200px) {
  .INITIAL_LOADER {
    img {
      width: 50%;
    }
  }

  .PAGE_LOADER {
    img {
      width: 50%;
    }
  }
}

@media (max-width: 500px) {
  //.app {
  //  overflow-x: hidden;
  //}
}

.app_compare {
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  background-color: #FAFCFD;
  padding: 8px 32px 8px 20px;
  border-top-left-radius: 12px;
  right: 0;
  bottom: 0;
  z-index: 1000;

  span {
    color: $orange-primary;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

#root {
  position: relative;
  height: 100vh;
}

@media (max-width: 500px) {
  #root .bm-overlay {
    display: none !important;
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important;
    overflow-x: hidden;
  }

  .INITIAL_LOADER {
    img {
      width: 70%;
    }
  }

  .PAGE_LOADER {
    img {
      width: 70%;
    }
  }
}

@keyframes loyal {
  0% {
    background: #fff;
  }
  100% {
    background: #D6D6D6;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: loyal 3s infinite;
}
