@import "src/global/variables";

.footer {
  overflow-x: hidden;
  margin: 180px auto 20px;
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;

  &_footerContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer_text {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
  }

  &_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  &_title {
    width: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &_logo {
      height: 56px;
      object-fit: contain;
    }

    &_spin {
      object-fit: contain;
      height: 24px;
      margin-left: 4px;
    }
  }

  &_content {
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_contact-info {
    width: 35%;

    &_title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  &_contact_info_item_title {
    font-weight: 500;
    padding: 4px 0;
    color: $orange-primary;
  }

  &_contact_info_item_text {
    font-size: 14px;
    margin: 4px 0;
  }

  &_navigation {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_sub-item-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &_sub-item {
      cursor: pointer;
      font-size: 14px;
      margin: 4px 0;
    }
  }

  &_text {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  &_links {
    align-self: flex-end;

    &_item {
      margin: 0 4px;
      width: 24px !important;
      height: 24px !important;

      img {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    padding: 0 20px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 20px;
    width: 100%;
  }
  .footer_wrapper {
    margin: 80px 0 0;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 20px auto 80px;

    &_content {
      margin: 30px 0;
      flex-direction: column;
    }

    &_contact-info {
      width: 100%;
    }

    &_navigation {
      margin-top: 30px;
      width: 100%;
    }
  }
}

@media (max-width: 560px) {
  .footer {
    &_wrapper {
      margin-top: 40px;
    }

    &_footerContent {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer_text {
        width: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        position: absolute;
      }
    }

    &_links {
      margin: 32px auto 0;
      width: fit-content;

    }

    &_navigation {
      margin-top: 0;
      flex-direction: column;

      &_item {
        margin-top: 20px;
      }
    }
  }
}
